*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}
/* header styles */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 14, 41, 0.7),rgba(5, 12, 38, 0.7)),url(imgf/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/* navigation positioning and alignment */
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 135px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
/* nav menu styles */
.menu-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.menu-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.menu-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #faf9f8;
    display: block;
    margin: auto;
    transition: .5s;    
}
.menu-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
/* Title stles */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}
/* button styles */
.button{
    display: inline-block;
    text-decoration: none;
    color: #fbf9f9;
    border: 1px solid #fdfbfb;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.button:hover{
    border: 1px solid #9e82e4;
    background: #7f66b9;
}

/* adjustable to smaller window */
@media(max-width: 700px)
{
   .menu-links ul li
    {
        display: block;
    }
    .menu-links
    {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .menu-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*---Avalible Locations ---*/

.Locations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}
  
    .loc{
    flex-basis: 31%;
    background: #c6bde4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.loc:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/* adjusting for dif sized windows */
@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 

/*-- second section --*/

.section2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sec2{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.sec2 img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.sec2 p{
    padding: 0;
}
.sec2 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-- reviews --*/

.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
  

.rvwcol{
    flex-basis: 55%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #c6bde4;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.rvwcol img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.rvwcol p{
    padding: 0;
}
.rvwcol h3{
    margin-top: 15px;
    text-align: left;
}
.rvwcol .fa{
    color: #df1d1d;
}

@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
/*-- Footer --*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #262222;
    margin: 0 12px;
    cursor: pointer;
    padding: 16px 0;
}

/*-- About Page --*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 12, 37, 0.7),rgba(7, 14, 44, 0.7)),url(imgf/backgroundimg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.btn1{
    background: transparent;
    color: #27262e;
}
.btn1:hover{
    background: #464060;
    color: #fff;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}

/*-- Contact Page --*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #614c7d;
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}
/* booking styles */
.book{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}
  
.bookcol{
    flex-basis: 31%;
    background: #f5f8f9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.bookcol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
